@font-face {
    font-family: 'Akrobat';
    src: url('subset-Akrobat-Regular.woff2') format('woff2'),
        url('subset-Akrobat-Regular.woff') format('woff'),
        url('subset-Akrobat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Akrobat';
    src: url('Akrobat-SemiBold.woff2') format('woff2'),
        url('Akrobat-SemiBold.woff') format('woff'),
        url('Akrobat-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('subset-Akrobat-Bold.woff2') format('woff2'),
        url('subset-Akrobat-Bold.woff') format('woff'),
        url('subset-Akrobat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('subset-Akrobat-ExtraBold.woff2') format('woff2'),
        url('subset-Akrobat-ExtraBold.woff') format('woff'),
        url('subset-Akrobat-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}